<h2>{{ site.data.en.education.edu }}</h2>
<div class="row">
  <div class="col-2">
    <p>{{ site.data.en.education.thinknetika.duration }}</p>
  </div>
  <div class="col-10">
    <h4>{{ site.data.en.education.thinknetika.company }}</h4>
    <p>{{ site.data.en.education.thinknetika.profession }}</p>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p>{{ site.data.en.education.nethology.duration }}</p>
  </div>
  <div class="col-10">
    <h4>{{ site.data.en.education.nethology.company }}</h4>
    <p>{{ site.data.en.education.nethology.profession }} | 
    <a href={{ "../pdf/netology_certificate.pdf" | relative_url }} target="_blank"><i>{{ site.data.en.education.nethology.cert }}</i></a> </p>
</div>
