<h2>{% t education.edu %}</h2>
<div class="row">
  <div class="col-2">
    <p>{% t education.thinknetika.duration %}</p>
  </div>
  <div class="col-10">
    <h4>{% t education.thinknetika.company %}</h4>
    <p>{% t education.thinknetika.profession %}</p>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p>{% t education.nethology.duration %}</p>
  </div>
  <div class="col-10">
    <h4>{% t education.nethology.company %}</h4>
    <p>{% t education.nethology.profession %} - 
    <a href={{ "../pdf/netology_certificate.pdf" | relative_url }} target="_blank"><i>{% t education.nethology.cert %}</i></a> </p>
</div>
