<h2>{{ site.data.en.experience.exp }}</h2>
  <div class="row">
    <div class="col-2">
      <p>{{ site.data.en.experience.vtb.duration }}</p>
    </div>
    <div class="col-10">
      <h4>{{ site.data.en.experience.vtb.company }} - {{ site.data.en.experience.vtb.worker }}</h4>
      <ul>
          {% for item in site.data.en.experience.vtb.work_duties %}
            <li>{{ item }}</li>
          {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p>{{ site.data.en.experience.business_lines.duration }}</p>
    </div>
    <div class="col-10">
      <h4>{{ site.data.en.experience.business_lines.company }} - {{ site.data.en.experience.business_lines.worker }}</h4>
      <ul>
          {% for item in site.data.en.experience.business_lines.work_duties %}
            <li>{{ item }}</li>
          {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p>{{ site.data.en.experience.astra.duration }}</p>
    </div>
    <div class="col-10">
      <h4>{{ site.data.en.experience.astra.company }} - {{ site.data.en.experience.astra.worker }}</h4>
      <ul>
          {% for item in site.data.en.experience.astra.work_duties %}
            <li>{{ item }}</li>
          {% endfor %}
      </ul>
    </div>
  </div>
