<div>
  <h1 style="padding-top: 40px;">Ruby on Rails Developer</h1>
  <a href={{ site.url }}><i>Ru</i></a> | <a href="{{ site.url }}/en"><i>Eng</i></a>
</div>
<div class="row">
  <div class="col-7">
    <h3>{% translate global.name %}</h3>
    <ul>
      <li> {% t global.birth %}: 04.05.1988</li>
      <li><i class="bi bi-telephone-fill"></i> Mobile.: +7(999)-215-19-22</li>
      <li><i class="bi bi-envelope"></i> E-mail: <a href="mailto:marakesh88@gmail.com">marakesh88@gmail.com</a></li>
      <li>
        <i class="devicon-linkedin-plain colored"></i> LinkedIn: 
        <a href="https://www.linkedin.com/in/nicholas-krupenin-498127234/" target="_blank">@nicholas_krupenin</a> / 
        <i class="devicon-github-original colored"></i> GitHub: 
        <a href="https://github.com/NicholasKrupenin" target="_blank">nicholas_krupenin</a>
      </li>
    </ul>
  </div>
  <div class="col-5">
    <div class="shadow-lg p-3 mb-5 bg-white"><img src="../images/cv2.png" alt="avatar" 
      class="u-max-full-width"/></div>
  </div>
</div>
