<div class="row">
  <h2>{{ site.data.en.skill.skills }}</h2>
  <div class="col-9">
    <ul>
      <li>
        <i class="devicon-ruby-plain colored"></i> Ruby, 
        <a href="https://github.com/NicholasKrupenin/black_jack" target="_blank"><i>{{ site.data.en.global.example }}</i></a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
        <i class="devicon-rails-plain colored"></i> Ruby on Rails, 
        <a href="https://github.com/NicholasKrupenin/TestGuru" target="_blank"><i>{{ site.data.en.global.example }}</i></a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
        <i class="devicon-googlecloud-plain colored"></i> Google Cloud Platfrom, Yandex Cloud use
        <i class="devicon-terraform-plain colored"></i> Terraform and
        <i class="devicon-ansible-plain colored"></i> Ansible
        <a href="https://github.com/NicholasKrupenin/netology_git/tree/main/netology-degree" target="_blank"><i>{{ site.data.en.global.example }}</i></a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
        <i class="devicon-docker-plain colored"></i> Docker
        <a href="https://github.com/NicholasKrupenin/netology_git/tree/main/netology-degree/raw_docker" target="_blank"><i>{{ site.data.en.global.example }}</i></a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
         <i class="devicon-git-plain colored"></i> Git, {{ site.data.en.skill.git }} 
         <a href="http://learngitbranching.js.org/" target="_blank"><i>Learn Git Branching</i></a>

        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
        <i class="bi bi-clipboard-check"></i> Tests (RSpec), 
        <a href="https://github.com/NicholasKrupenin/qna/tree/main/spec" target="_blank"><i>{{ site.data.en.global.example }}</i></a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
        <i class="devicon-html5-plain colored"></i> HTML + <i class="devicon-css3-plain colored"></i> CSS + 
          <i class="devicon-jquery-plain colored"></i> JQuery
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
      </li>

      <li>
        <i class="devicon-postgresql-plain colored"></i> PostgreSQL, SQLite
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
        <i class="bi bi-hdd-fill"></i> App deploying to vps (Digital Ocean + Render)
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>

      <li>
        <i class="devicon-linux-plain colored"></i> Linux
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
